<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			{% for post in site.posts limit:10 %}
			{% assign postUrl = site.baseurl | append: post.url %} 
				<article class="row">
					<div class="col-md-12 col-sm-12 text-center animated hiding" data-animation="fadeInDown" data-delay="500">
						<h4>{{ post.title }}</h4>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
				</article>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Latest News Section -->